<h1>Writing Answer</h1>

<%= form_for(@writing, html: {class: 'form-dashboard'}) do |f| %>
  <%= f.hidden_field :task_id %>
  <div class="form-group">
    <label>Question:</label>
    <%= image_tag(@task.attachments.last.attachment.url, class: 'attachment img-responsive') if @task.attachments.present? %> 
    <p><%= @task.description %></p>
  </div>

  <div class="form-group">
    <label>Your Answer:</label>
    <%= f.text_area :answer, rows: 18, class: "form-control" %>
  </div>
  <%= submit_tag "Save Your Answer", class: "btn btn-primary" %>
<% end %>

