<%= simple_form_for Message.new do |f| %>
  <div class="row">
    <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-default">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :recipients_emails, label: "To email"%>
          </div>

          <div class="col-md-6">
            <%= f.input :subject, label: "Subject"%>
          </div>
        </div>
        <!-- End of row -->
      </div>

      <div class="card-block">
        <%= f.input :content, label: "Message"%>
      </div>
    </div>
    <!-- End of card -->
    </div>
  </div>
  <!-- End of row -->
  <br>
  <div class="row">
    <div class="col-sm-2 offset-sm-5">
      <div class="form-group">
        <%= f.submit 'Send', class: 'btn btn-block btn-sm btn-success' %>
      </div>
    </div>
  </div>
  <!-- End of row -->
<% end %>
