<tr class='clickable-row' data-href="<%= message_path(message) %>">
  <% if !message.is_read %>
    <td><strong> <%= sender.email %> </strong></td>
    <td><strong><%= message.subject %></strong></td>
    <td><strong><%= message.getSentAt %></strong></td>

  <% else %>
    <td><%= sender.email %></td>
    <td><%= message.subject %></td>
    <td><%= message.getSentAt %></td>
  <% end %>
</tr>
