<!-- Page Heading -->
<div class="row">
    <div class="col-sm-8">
        <h1 class="page-header">
            Compose
        </h1>
    </div>
    <div class="col-sm-4 text-right">
      <%= link_to 'Back', :back, class: "btn btn-sm btn-primary" %>
    </div>
</div>
<!-- /.row -->

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item">
  <a class="nav-link <%= "active" if params[:type].nil? || params[:type]!="msg" %>" data-toggle="tab" href="#correcting-request" role="tab">Correcting Request</a>
</li>
<li class="nav-item <%= "active" if !params[:type].nil? && params[:type]=="msg" %>">
  <a class="nav-link" data-toggle="tab" href="#compose-message" role="tab">Message</a>
</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= "active" if params[:type].nil? || params[:type]!="msg" %>" id="correcting-request" role="tabpanel">
    <%= render "correcting_request"%>
  </div>

  <div class="tab-pane <%= "active" if !params[:type].nil? && params[:type]=="msg" %>" id="compose-message" role="tabpanel">
    <%= render "compose_message"%>
  </div>
</div>

<script type="text/javascript">
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
