<!-- Page Heading -->
<div class="row">
    <div class="col-sm-8">
        <h1 class="page-header">
            Message Detail
        </h1>

    </div>
    <div class="col-sm-4 text-right">
      <a href="<%= messages_path %>" class="btn btn-sm btn-primary">Inbox</a>
    </div>
</div>
<!-- /.row -->

  <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header card-default">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= label_tag "Sender" %>
                    <input class="form-control" type="text" placeholder="<%= @message.getSender.email %>" disabled="">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= label_tag :subject %>
                    <input class="form-control" type="text" placeholder="<%= @message.subject %>" disabled="">
                  </div>
                </div>
              </div>
              <!-- End of row -->
            </div>
            <div class="card-block">
              <%= label_tag "Message" %>
              <div class="form-group">
                <textarea class="form-control" rows="10" type="text" readonly=""><%= @message.content %>
                </textarea>
              </div>
            </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 offset-sm-4">
      <div class="form-group">
        <a href="<%= new_message_path %>?recipient=<%= @message.getSender.email %>&subject=[Accept]<%= @message.subject %>" class="btn btn-block btn-sm btn-success">Accept</a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <a href="<%= new_message_path %>?recipient=<%= @message.getSender.email %>&subject=[Decline]<%= @message.subject %>" class="btn btn-block btn-sm btn-danger">Decline</a>
      </div>
    </div>
  </div>
  <!-- /.row -->
