<h1>Word to ya mother</h1>

<% @tasks.each do |task| %>
	<%= task.description %>
	<%= task.task_number %>
<% end %>

<%= simple_form_for @task do |f| %>
	<%= f.text_field :description %>
	<%= f.input :task_number, as: :number %>
	<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>