<h1>Writing task</h1>

<div class="container-limited">
  <h5><strong>Example task:</strong></h5>
  <div class="alert alert-info">
    <%= simple_format @suggest_task.description %>
  </div>
  <div>
    <%= link_to "Choose this", new_writing_path(task_id: @suggest_task.id), class: 'btn btn-primary btn-sm mb-4' %>
  </div>
  
  <h5><strong>Or create your own:</strong></h5>
  
  <%= form_for(@task, html:{class: 'form-dashboard', multipart: true}) do |f| %>
    <%= hidden_field_tag :next_location, 'writing' %>
    <div class="form-group">
      <label>Task Number *</label>
      <%= f.select :task_number, options_for_select([1,2]), {}, class: 'form-control' %>
  
    </div>
    <div class="form-group">
      <label>Attachment (optional)</label><br>
      <%= file_field :attachment, :attachment %>
    </div>
    <div class="form-group">
      <label>Description</label>
      <%= f.text_area :description, rows: 6, class: 'form-control' %>
    </div>
    <%= submit_tag "Continue", class: "btn btn-primary btn-sm" %>
  <% end %>
  
</div>