<tr>
  <td><%= teacher.user.username %></td>
  <td><%= teacher.nationality %></td>
  <td><%= teacher.price %></td>
  <td>
    <%= link_to  teacher_path(:id => teacher.id) do %>
      View Details <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </td>

  <!-- Unfollow -->
  <td>
    <div class="button-group">
      <%= link_to "Send Request", new_message_path(teacher_id: teacher.user.email), class: 'btn btn-success btn-sm' %>
      <%= link_to '<i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Unfollow'.html_safe,
                  follow_path(id: teacher.id),
                  { data: { confirm: "Are you sure you want to unfollow teacher '#{teacher.user.username}'?" },
                  method: :delete, remote: true, class: "btn btn-secondary btn-sm" } %>
    </div>
  </td>
</tr>
