<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="section-heading text-left">Your Account Information</h2>

      <table class="table">
        <tbody>
          <tr>
            <td><label>Username:</label></td>
            <td><%= @account.username %></td>
          </tr>
          <tr>
            <td><label>Email:</label></td>
            <td><%= @account.email %></td>
          </tr>
          <tr>
            <td><label>Account Type:</label></td>
            <td><%= @account.is_student? ? "Student" : "Teacher" %></td>
          </tr>
          <tr>
            <td><label>Account Balance:</label></td>
            <td><%= @account.account.balance %> <%= image_tag 'coin.png', style: "width:25px;height:25px;"%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "Change Information", account_edit_path, class: 'btn btn-primary mr-3' %>
  <%= link_to "Change Password", account_edit_path, class: 'btn btn-secondary' %>
  <div class="row">
    <div class="col-md-8">
      <% if current_user.is_teacher? %>
        <h2 class="section-heading text-left mt-4">Teacher Information</h2>

        <table class="table">
          <tbody>
            <tr>
              <td><label>Nationality:</label></td>
              <td><%= @account.teacher.nationality %></td>
            </tr>
            <tr>
              <td><label>Price:</label></td>
              <td><%= @account.teacher.price %></td>
            </tr>
            <tr>
              <td><label>Experience:</label></td>
              <td><%= @account.teacher.experience %></td>
            </tr>
            <tr>
              <td><label>Linkedin URL:</label></td>
              <td><%= @account.teacher.linkedin %></td>
            </tr>
          </tbody>
        </table>

        <%= link_to "Change Information", account_edit_teacher_info_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
