<!DOCTYPE html>
<html>
  <head>
    <title>IeltsLearningPlatform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="login" class="modal"></div>
    <div id="signup" class="modal"></div>

    <%= yield %>
  </body>
</html>
