<!DOCTYPE html>
<html>
  <head>
    <title>IeltsLearningPlatform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="login" class="modal"></div>
    <div id="signup" class="modal"></div>
    <%= flash_messages %>

    <%= yield %>
  </body>
</html>
